*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightcoral;
    padding: .625rem 0px;
    align-items: center;
}

.navBar{
    display: flex;
    gap: 1.25rem;
    padding-right: .625rem;
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}
.navBar li a:hover{
    color: black;
    text-shadow: 2px 5px 5px rgb(24, 24, 24);
}
h1{
    text-align: center;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: repeat(3,200px);
    grid-template-areas: 
    "col1 col1 col2"
    "col3 col3 col4"
    "col5 .    col4"
    ;
    justify-content: center;
    gap: .625rem;
}
.color1 {
    grid-area: col1;
    background-color: cornflowerblue;
}
.color2 {
    grid-area: col2;
    background-color: blueviolet;
}
.color3 {
    grid-area: col3;
    background-color: crimson;
}
.color4 {
    grid-area: col4;
    background-color: darkolivegreen;
}
.color5 {
    grid-area: col5;
    background-color: darkturquoise;
}
.color6{
    display: none;
    color: magenta;
   
}










/*AL FINAL DEL CODIGO CSSS
768PX => TABLET
320PX => MOBILE
----
1024
768
425
375
320
*/

/**max-width => lo vamos a usar siempre que vayamos de desktop a mobile, en orden decreciente**/
@media (max-width:1024px){
    header{
        background-color: rgb(144, 236, 238);
        justify-content: space-around;
    }
    .navBar li a{
        color: black;
    }
    .navBar li a:hover{
        color: white;
    }
}

/**media de tablet**/
@media (max-width:768px){
    header{
        background-color: lime;
        flex-direction: column;
        gap: 1.25rem;
    }
    .grid{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,12.5rem);
        grid-template-areas: 
        "col1 col2"
        "col3 col4"
        
        ;
    }
    .color5{
        display: none;
    }
}
/**media mobile**/
@media(max-width:425px){
    .navBar{
        flex-direction: column;

    }
    .navBar li a{
        font-size: 1.4375rem;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,200px);
        grid-template-areas: 
        "col2"
        "col6"
        "col1"
        "col3"
        "col4"
        ;
    }

    .color6{
        display: block;
        grid-area: col6;
        background-color: lemonchiffon;
    }
}
@media (max-width:375px){

}
@media (max-width:320px){

}